---
title: Expeditions
layout: page
---
{% assign expeditions = site.data.expeditions | sort: "date" | reverse %}
{% for trip in expeditions %}
<h1>{% if trip.link %}<a href="{{trip.link | absolute_url}}">{% endif %}{{trip.project}} - {{trip.month}} {{trip.year}}{% if trip.link %}</a>{% endif %}</h2>
<p>
    <strong>Location:</strong>  {{trip.location}}
</p>
<ul>
    {% for lead in trip.lead %}<li>{{lead}} (Expedition Leader)</li>{% endfor %}
    {% for people in trip.people %}<li>{{people}}</li>{% endfor %}
</ul>
{% endfor %}
