{%- if include.enable_nav -%}
<nav id="project-navigation">
    <ul id="menu-project-nav" class="menu-project">
        <li id="" class="menu-projects">
            <a href={{ include.url }}>
                {{ include.title }}
            </a>
        </li>
        <li id="" class="menu-projects">
            <a href={{ include.url | append: "project-updates" }}>
                Project Updates
            </a>
        </li>
        <li id="" class="menu-projects">
            <a href={{ include.url | append: "media" }}>
                Media
            </a>
        </li>

    </ul>
</nav>
{%- endif -%}