<div clas="captioned-img-container">
    {% if include.src2 %}
        <div class="img-container">
            <iframe width="500" height="400" src="https://www.youtube.com/embed/Tw7VNB5Eo6c" title="3D reconstruction of Native Diver Excavation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="500" height="400" src="https://www.youtube.com/embed/Tw7VNB5Eo6c" title="3D reconstruction of Native Diver Excavation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    {% else %}
        <iframe width="500" height="400" src="https://www.youtube.com/embed/Tw7VNB5Eo6c" title="3D reconstruction of Native Diver Excavation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endif %}
    <p class="caption">
        {{include.caption}}
    </p>
</div>