---
date: 2014-09-08 03:20:47+00:00
description: null
featuredImage: /assets/2014-09-08-reu-photo.jpg
layout: blog-post
slug: /2014-summer-reu
title: 2014 Summer REU
author: Antonella Wilby
categories:
- news-and-updates
tags:
- nsf
- research
- reu
- summer
students:
- name: Zach Barnes
  school: Cal Polytechnic State University San Luis Obispo
  align: alignleft
  bio: Zach Barnes is a rising junior at the University of Pittsburgh. He is a Computer Engineer with a passion for circuitry, robotics, and software. When he isn't flying his quadcopter or programming an arduino, Zach likes to teach local children about science through the club he runs called SEMFS, Scientists Engineers and Mathematicians for Service. Zach is complementing his summer research in UCSD's E4E program with a position in a robotics lab at Carnegie Mellon University. Zach worked this summer on the Radio Collar Tracker and the Scripps Plankton Camera projects.
  photo: /assets/2014-zach.jpg
- name: Luke DeLuccia
  school: Hobart and William Smith Colleges
  align: alignright
  photo: /assets/2014-luke.jpg
  bio: Luke DeLuccia is a senior computer science major at Hobart and William Smith Colleges in Geneva, New York. Over the summer, he was a member of the team that worked on the Angry Birds project and also assisted in the development of the Wolf Tracker. In his free time, Luke enjoys hiking, traveling, and playing tennis.
- name: Dasun Hemachandra
  school: University of California Santa Barbara
  align: alignleft
  photo: /assets/2014-dasun.jpg
  bio: Dasun is a junior at UCSB majoring in mechanical engineering. This summer he helped create the TurtleBot, a tethered robot made to explore tortoise burrows and owl dens. Dasun also facilitated the redesign of the Wolf Tracker chassis for the California Wolf Center in Julian. In his free time he enjoys photography, biking, and working on his own projects, currently, an automated time-lapse rig.
- name: Tevon Hodge
  school: Cuyamaca Community College
  align: alignright
  photo: /assets/2014-tevon.jpg
  bio: Tevon Hodge is a native San Diegan and a 3rd year electrical engineer at Cuyamaca Community College. This summer he worked on the miniature terrestrial vehicle called the Turtle Bot and worked on redesign of the Wolf Tracker. In his free time, he enjoys outdoor activities and staying fit.
- name: Jordann McCarty
  school: Fort Lewis College
  bio: Jordann is entering her senior year at Fort Lewis College in Durango, Colorado. This summer she worked on panoramic stitching for spherical underwater imaging.
- name: Dustin Mendoza
  school: University of Alaska Anchorage
  bio: Dustin is entering his third year at UAA, studying to become the next Iron Man, while also pursuing a degree in Electrical Engineering and Computer Systems Engineering. When he's not off coding Jarvis 2.0 or rock climbing the perilous mountains of Alaska, he volunteers over 20 hours a week at a local non-profit called Anchorage Makerspace as a founding member, member of the Board of Directors, and Director of Robotics. Jack-of-all-trades, master of many, he also enjoys spending hours upon hours watching anime and playing video games while working on the next generation of immersive video games with the Oculus Rift. Dustin worked on the Angry Birds and Wolf Tracker projects this summer.
- name: Paul Owens
  school: University of Alaska Fairbanks
  bio: Paul is a young entrepreneur entering his third year at UAF, pursing a degree in Mechanical Engineering and completing a four-year BS+MS degree. Paul enjoys many robotic extracurriculars, including the Robotic Mining Competition (sponsored by NASA), the Shell Eco-marathon, and even volunteering with the FIRST Tech Challenge at his old high school. In his spare time, he enjoys rock climbing, technical ice climbing, and mountaineering, and is planning an expedition to summit Denali in the spring. This summer, Paul worked with Paul Robert's lab at the Scripps Institution of Oceanography designing and building a passive plankton chamber to help capture live footage of plankton interactions. He also assisted with the partial redesign of the Wolf Tracker vehicle as well as co-led the TurtleBot project.
- name: Gilberto Antonio Marcon dos Santos
  school: Universidade Federal de Goias and Rose-Hulman Institute of Technology
  align: alignleft
  photo: /assets/2014-gilberto.jpg
  bio: Gilberto is a computer engineering student from Brazil who came to the US as an exchange student. During 2014's summer he has been working on the Airborne Radio Collar Tracker Project. He loves programming embedded systems and making his own computer games during his spare time.
- name: Traci Takasugi
  school: California Polytechnic State University San Luis Obispo
  bio: Traci is a rising junior at Cal Poly San Luis Obispo studying for a B.S. in Electrical Engineering. This summer she worked on the electrical design for the Angry Birds project and the Wolf Tracker vehicle.
- name: Xavier Tejeda
  school: University of California San Diego
  align: alignright
  photo: /assets/2014-xavier.jpg
  bio: Xavier is entering his 3rd year as a Computer Engineering student at UC San Diego. This summer he will be continuing his role as a student leader on the Wolf Tracker team where he will work on creating a user interface for the vehicle. His past experience includes a role as a software engineering intern at Northrop Grumman, and finalist at Cornell Cup 2013. In his free time Xavier enjoys running, singing, performing, and dedicating time to being a lead role in STEM Outreach.
- name: Angela To
  school: University of California San Diego
  bio: Angela is starting her third year at UC San Diego studying Computer Science. She is interested in embedded systems, and has worked on the Intelligent Camera Trap project for the past year as a member of Engineers for Exploration. This summer, she will be leading the Angry Birds project.
- name: Antonella Wilby
  school: University of California San Diego
  align: alignleft
  photo: /assets/2014-antonella.jpg
  bio: Antonella is a senior at UC San Diego pursuing a Bachelors of Science in Computer Science. For the last two years she has worked on underwater robotics and imaging projects for Engineers for Exploration, including the Stingray AUV, the stereo diving rig, and the vaquita project. In her spare time, she enjoys playing cello and piano, hiking and exploring the wilderness, rock climbing, and long-distance bicycle touring. This summer, she continued her work on the stereo diving rig and worked on the design of a spherical underwater camera trap for taking pictures of vaquita, the most endangered marine mammal.
mentors:
- name: Eric Lo
  school: University of California San Diego
  align: alignleft
  photo: /assets/2014-eric.jpg
  bio:  Eric graduated UC San Diego with a B.S. in Computer Engineering in 2014. In his time at UCSD, he spent two years as a student leader in Engineers for Exploration, primarily designing aerial platforms such as the aerial camera platform and a multitude of copters. This summer, Eric used his expertise in embedded systems to serve as the primary mentor for all of the E4E REU projects. When he's not in the lab, Eric enjoys climbing, kayaking, advanced flashlights, and tying knots of all kinds.
- name: Riley Yeakle
  school: University of California San Diego
  align: alignright
  photo: /assets/2014-riley.jpg
  bio: Riley is an incoming master's student in the department of Electrical Engineering at UCSD. He graduated with a B.S. in Electrical Engineering from UCSD in 2014. He was a student leader in Engineers for Exploration throughout his undergraduate career, leading the Intelligent Camera Trap project since its inception. This summer, he mentored E4E REU students in their work on the new Angry Birds project. In his spare time, Riley enjoys climbing, caving, and coffee!
---
<p style="text-align: center;"><em>(Photo (left to right): Dasun Hemachandra, Angela To, Gilberto Marcon dos Santos, Dustin Mendoza, advisor Ryan Kastner, Zach Barnes, prototyping lab engineer Frank Cardone, Traci Takasugi, Eric Lo, advisor Curt Schurgers, Luke DeLuccia, Paul Owens, Jordann McCarty, Sabrina Trinh, Xavier Tejeda, Antonella Wilby, advisor Albert Lin)</em></p>
<p>The 2014 Summer Research Experiences for Undergraduates (REU) Program has come to an end. This year's students spent 10 weeks in an immersive research experience, engineering tools and platforms to assist conservationists, ecologists, and archaeologists in applications from underwater mapping of shipwrecks to behavioral monitoring of wolves and tigers.</p>
<p>This summer's projects included Angry Birds, an automated system for detecting bird strikes on glass windows in collaboration with the San Diego Zoo Institute for Conservation Research; the redesigned Wolf Tracker vehicle, designed to assist behavioral ecologists in remotely monitoring wolf behavior; the Airborne Radio Collar Tracker, a tool to help conservationists track wild species using autonomous aircraft; and the TurtleBot, a small terrestrial robot designed to take pictures of turtles and tortoises in burrows. E4E REU students and volunteers also worked on fine-tuning the stereo diving rig, a platform for underwater archaeology and imaging, and the SphereCam, a spherical camera trap for photographing vaquita.</p>
<p>We were proud to host the following students from all around the US (and Brazil!) this summer at UCSD.</p>

<h1>Summer 2014 REU Students</h1>
{% for student in page.students %}
<div class="floatclearfix">
    {% if student.photo %}
    <p><a href="{{ student.photo }}"><img class="{{student.align}}" src="{{student.photo | resize: '180x240'}}"></a></p>{% endif %}
    <p><strong>{{student.name}}, {{student.school}}</strong></p>
    <p>{{student.bio}}</p>
</div>
{% endfor %}

<h1>Summer 2014 Mentors</h1>
{% for student in page.mentors %}
<div class="floatclearfix">
    {% if student.photo %}
    <p><a href="{{ student.photo }}"><img class="{{student.align}}" src="{{student.photo | resize: '180x240'}}"></a></p>{% endif %}
    <p><strong>{{student.name}}, {{student.school}}</strong></p>
    <p>{{student.bio}}</p>
</div>
{% endfor %}