---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.floatclearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.featured-post-image {
    text-align: center;
    margin-bottom: 20px;

}

.featured-post-image img {
    display: inline-block;
    outline: solid 8px #ddd;
}



.site-nav {
	clear: right;
    float: right;
	margin: auto;
	background: #000000;
	padding: 8px 4px 4px 4px;
	// width: 750px;
	margin-bottom: 0px;
	margin-top: 5px;
}
.site-nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.site-nav li {
	float: left;
	position: relative;
}
.site-nav a {
	display: block;
	text-decoration: none;
	font-family: 'Cabin Condensed', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	color: #999;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 8px;
}
.site-nav a:hover {
	background: #000;
	color: #fff;
}
.site-nav ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	position: absolute;
		top: 2em; /*fixed issue which causes drop down to disappear real quick*/
		left: 0;
	z-index: 999999;
	background: #000;
}
.site-nav ul ul a {
	color: #999;
	font-size: 14px;
	font-weight: 100;
}
.site-nav ul ul a:hover {
	color: #fff;
;
}
	
.site-nav ul ul ul {
	left: 100%;
	top: 0;
}
.site-nav ul ul a {
	max-width: 200px;
	min-width: 125px;
}
// .site-nav ul ul li {
// }
.site-nav li:hover > a {
	background: #000;
	color: #fff;
}
.site-nav ul ul :hover > a {
	background: #000;
	color: #fff;
}
// .site-nav ul ul a:hover {
// }
.site-nav ul li:hover > ul {
	display: block;
}
// .site-nav li.current_page_item a,
// .site-nav li.current-menu-item a {
// }

