.home_flex_container{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.home_flex_item{
    margin-left: 10px;
    margin-right: 10px;
}

.home_about{
    width: 50%;
    height: fit-content;
    background-color: #f4f4f4;
    padding: 10px;
}

.home_header{
    font-size: medium;
    font-weight: bold;
}