@charset "utf-8";
@use "sass:math";


.site-nav-button {
    display: none;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

    .nav-trigger {
        display: none //set block for debugging
    }
}

// For extra Mobile Support
@include media-query($on-palm) {
  .menu {
    flex-direction: column;
  }

  .site-nav {
    position: relative;
    float: inline-start;
    top: auto;
    right: auto;
    width: 100%;
    text-align: left;
    display: none;

    li:hover>a {
        color: #999;
    
    }

    ul ul {
        position: relative;
    }

    ul li:hover>ul {
    display: none;

    }
    .sub-menu a{
        display: block;
    }
  }

  //set site-nav to apepar if site-nav-button has an input that is checked
  .site-nav-button:has(input:checked) + .site-nav {
    display: block;
  }

  .site-nav-button {
    display: block;

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    
        >svg {
          fill: $grey-color-dark;
        }
      }
    
      input~.trigger {
        clear: both;
        display: none;
      }
    
      input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
      }
    
    
      label[for="nav-trigger"] {
          display: block;
          float: right;
          width: 36px;
          height: 36px;
          z-index: 2;
          cursor: pointer;
        }
  }

  
}

// // Disable Mobile additions
// @include media-query($on-laptop) {
//     .site-nav-button {
//       display: none;
//     }
//   }
