.menu-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.menu-projects {
    list-style-type: none;
}