.menu-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.menu-projects {
    list-style-type: none;
}

.captioned-img-container {
    width: fit-content;
    margin: auto;
}

.project-content img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}