.accordion-title.pub {
    padding: 0rem;
    border: none;
    border-bottom: none;
    font: 400 16px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
}

:last-child:not(.is-active)>.accordion-title.pub {
    border-bottom: none;
}

.accordion-content.pub {
    padding: 0rem;
    border: none;
    border-bottom: none;
    background-color: transparent;
}

.pub_separator{
    margin-bottom: 15px;
}

.pub_separator>a>span {
    padding-right: 3rem;
    display: inline-block;
}

.accordion-title::before {
    position: absolute;
    top: 5%;
    right: 1rem;
    margin-top: -.25rem;
    font-size: 30px;
    font-weight: bold;
}

.pub_unseparator{
    margin-bottom: 0px;
}