---
---
<style>ol.bibliography li { list-style: none }</style>


{% assign urls = "" %}
{% capture doi_url %}<a href="https://doi.org/{{ entry.doi| remove_first: "https://doi.org/"}}">DOI</a>|{% endcapture %}
{%if entry.doi%}{% capture urls %}{{urls | append: doi_url }}{% endcapture %}{% endif %}

{% capture arxiv_url %}<a href="https://arxiv.org/abs/{{ entry.eprint }}">arXiv</a>|{% endcapture %}
{% if entry.eprint %}{% capture urls %}{{urls | append: arxiv_url }}{% endcapture %} {% endif %}

{% capture http_url %}<a href="{{ entry.url }}">http</a>|{% endcapture %}
{% if entry.url %}{% capture urls %}{{urls | append: http_url }}{% endcapture %} {% endif %}




{% if entry.abstract or  entry.keywords %}
<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item pub_seperator" data-accordion-item>
      <a href="#" class="accordion-title pub">
        {{ reference }}
      </a>
      <div class="accordion-content pub" data-tab-content >
        {% if entry.abstract %}
        <p></p>
        <blockquote class="pub_unseperator"><p>{{ entry.abstract }}</p></blockquote>
        {% endif %}
        {% if entry.keywords %}
        <blockquote class="pub_unseperator"><p>Keywords: {{ entry.keywords }}</p></blockquote>
        {% endif %}
      </div>
      <p>[{{urls | split: "|" | join: " | "}}]</p>
    </li>
  </ul>
  {% else %}
  {{ reference }}
  <p>[{{urls | split: "|" | join: " | "}}]</p>
  {% endif %}
 




