---
layout: default
---

<!-- TODO what is itemtype + itemscope-->
<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="page-heading">{{ page.title }}</h1>
  
  {%- if page.enable_nav -%}
  <nav id="project-navigation">
    <ul id="menu-project-nav" class="menu-project">
      <li id="" class="menu-projects">
        <a href={{ page.permalink }} aria-current="page">
          {{ page.title }}
        </a>
      </li>
      <li id="" class="menu-projects">
        <a href={{ page.permalink | append: "/project-updates"  }}>
          Project Updates
        </a>
      </li>
      <li id="" class="menu-projects">
        <a href={{ page.permalink | append: "/media"  }}>
          Media
        </a>
      </li>
    </ul>
  </nav>
  {%- endif -%}


  <div class="project-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
